{
  "extends": ["wantedly-typescript"],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "no-console": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "prefer": "type-imports", "disallowTypeAnnotations": true }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
